name: Hello World
on: workflow_dispatch
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
     - name: Hello Step
       run: |
         echo "Welcome to Github"
         echo "this is to test the pipeline"
   
