name: IF DEMO
on: 
 push:
  branches:
    - main


jobs:
  demo:
   runs-on: ubuntu-latest
   steps:
     - name: Run if branch is main
       if: github.ref == 'ref/head/main'
       run: echo "Running for main branch"
     - name: Run this step
       run: echo "Running this step"
