name: Nice If example
on:
  push:
    branches: 
        - main
        - develop
        - feature/**
jobs:
    quality_checks:
        if: startsWith(github.ref_name,'feature') && github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            - name: Perform code quality
              run: echo "Performing code quality checks..."

    dev_deploy:
        if: github.ref_name == 'develop' && github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:
            - name: Dev Deployment
              run: echo "Deploying to development environment..."          

    prod_deploy:
        if: github.ref_name == 'main' && github.event_name == 'push'
        runs-on: ubuntu-latest
        steps:  
            - name: Prod Deployment
              run: echo "Deploying to production environment..."

    success_message:
        needs: [quality_checks, dev_deploy, prod_deploy]
        if: always() && !failure()
        runs-on: ubuntu-latest
        steps:
            - name: Success Message
              run: echo "Workflow completed successfully!"

    failure_message:
        needs: [quality_checks, dev_deploy, prod_deploy]
        if: failure()
        runs-on: ubuntu-latest
        steps:
            - name: Failure Message
              run: echo "Workflow failed. Please check the logs for details."          